.cardImg {
  width: 300px;
  height: 220px;
  border-radius: 15px;
  border: 3px solid #ccccff3f;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
  -moz-box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
  box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
}

.boxRemover {
  background: transparent !important;
  box-shadow: none !important;
}

.lolmbr-overlay {
  /* background-color: #03cfe3;
  */
  background-color: #00000083;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
  color: white;
}

.sites-section {
  margin-top: 100px;
  color: white !important;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.overlapper {
  position: relative;
  z-index: 100
}

.site-para {
  color: white !important;
  font-size: 14pt;
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding: 10px; */
  /* background: rgba(0, 0, 0, 0.194); */
}

.transparentButton {
  background: rgba(255, 255, 255, 0.204) !important;
  border: 1px solid rgba(255, 255, 255, 0.427) !important;
  border-radius: 4px;
  padding: 10px 25px;
}

.transparentButton:hover {
  background: rgba(255, 255, 255, 0.304) !important;

}